@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Lobster&display=swap');
:root{
    --background-color: #fbfbfb;
    --green-background-color: #153E52;
    --dark-green-color: #113448;
    --light-green-color: #14BF98;
    --dark-gray-color: #484A46;
    --light-gray-color: #787976;
    --white: #FFFFFF;
    --disabled-color: #E9eCeF;
    --dark-white-color: #DFE5Ec;
    --light-grey-border-color: #EBE8E8;
    --form-input-background-color: #2A5D77;
    --form-input-border-color: #39728f;

    --image-contrast: 60%:
    --image-grayscale: 25%;
}
h1,h2,h3,h4,h5,h6,p,a,span,button,li,input,textarea,label,select,option {
    font-family: "Freeman", sans-serif; 
    margin: 0;
    padding: 0;
}
.Home{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url('./Assets/HOME.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--dark-white-color);
    gap: 1rem;
}
.Home h1{
    text-transform: uppercase;
    font-size: 4rem;
   
}
.Home p{
    fonr-size: 1.5rem;
    width: 50%;
}
button{
    cursor: pointer;
    border: 1px solid var(--light-green-color);
    background-color: var(--light-green-color);
    color: var(--white-color);
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all 0.125s ease-in-out;
    font-weight: 700;
    letter-spacing: 0.3ch;
    font-size: 0.75rem;
}
button:hover{
    background-color: transparent;
    color: var(--light-green-color);
}
.section-title{
    color: var(--light-green-color);
    text-transform:uppercase;
    padding: 1rem 0px;
}
.italic{
    font-style: italic;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 3rem;
    box-sizing: border-box;
    align-items: center;
    color: var(--dark-white-color);
    z-index: 100;
    backdrop-filter: blur(50px) grayscale(var(--image-grayscale)) contrast(var(--image-contrast));
    
}
nav a{
    text-decoration: none;
    color: var(--dark-white-color);
    transition: color 0.3s ease-in-out
}
nav a:visited{
    color: var(--white-color);
}
nav a:hover{
    color: var(--light-green-color);
}
nav img{
    height: 5rem;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
nav ul .icon{
    background-color: var(--light-green-color);
    padding: 0.75rem;
    cursor: pointer;
    clip-path: polygon(0 25%, 0 75%, 50% 100%,100% 75%, 100% 25% ,50% 0%);
}
nav ul .icon:hover {
    background-color: var(--dark-white-color);   
}
nav ul .icon:hover a{
    color: var(--light-green-color);
}
.Intro{
    padding: 5rem 20vw;
    background-color: var(--white-color);
}
.Intro .content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.Intro .content .text{
    width: 40%;
    flex-shrink: 0;
    padding-right: 2rem;
    box-sizing: border-box;
}
.Intro .content .text h3{
    color: var(--dark-gray-color);
    font-size: 2rem;
}
.Intro .content .text p{
    color: var(--light-gray-color);
    font-weight: 400;
    line-height: 1.5rem;
}
.Intro .content .text h4{
    color: var(--dark-gray-color);
    line-height: 2rem;
}
.Intro .content .image-container{
    width: 50%;
    flex-shrink: 0;
    overflow:hidden;
    border-radius: 5px;
    filter: grayscale(25%);
    cursor: poimter;
}
.Intro .content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.4s ease-in-out;
}
.Intro .content img:hover{
    transform: scale(1.1);
}
.Intro .skill-list-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}
.Intro .skill-list-container .skill-item{
    width: 30%;
    color: var(--dark-gray-color);
    line-height: 1.5rem;
}
.Intro .skill-list-container .skill-item span{
    background-color: var(--light-green-color);
    color: var(--dark-white-color);
    padding: 2rem;
    font-size: 2rem;
    display: inline-block;
    margin-bottom: 1rem;
}
.Intro .skill-list-container .skill-item h4{
    font-size:1.5rem; 
    color: var(--dark-gray-color);
}
.Intro .skill-list-container .skill-item p{
    color: var(--light-gray-color);
}
.Services{
    padding: 5rem 0;
}
.Services > span{
    display: block;
    text-align: center;
}
.Services > h3{
    text-align: center;
    font-size: 1.75rem;
    color: var(--dark-gray-color);
}
.Services .service-list-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3rem 20vw;
    align-items: start;
}
.Services .service-list-container .service-item{
    width : 30%;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--light-gray-border-color);
    border-radius: 5px;
    background-color: var(--white-color);
}
.Services .service-item img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    filter: grayscale(var(--image-grayscale)) contrast(var(--image-contrast));
    border-radius: 5px 5px 0 0;
}
.Services .service-item h4{
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-gray-color);
    padding: 0.5rem 2rem;
}
.Services .service-item p{
    line-height: 1.5rem;
    color: var(--light-gray-color);
    padding: 0.5rem 2rem;
}
.Services .service-item ul{
    line-height: 1.rem;
    color: var(--light-grey-color);
    padding: 0.5rem 2rem;
    list-style-type: none;
}
.Services .service-item ul li::before{
    content:'\25a0';
    color: var(--light-green-color);
    margin-right: 5px;
    font-size:1.25rem;
}
.Services .service-item h6{
    font-size: 1.2rem;
    color: var(--dark-gray-color);
    text-align: center;
    padding: 0.5rem 2rem;
}
.Services .service-item button{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%,50%);
}
.Services .service-item button:hover{
    background-color: var(--white-color);
}
.Services .propositions{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--white-color);
    
}
.Services .propositions img{
    width: 50%;
    filter: grayscale(var(--image-grayscale)) contrast(var(--image-contrast));
    min-height: 35rem;
    object-fit: cover;
    object-position: center;
}
.Services .propositions .content{
    width: 50%;
    flex-shrink: 0;
    box-sizing: border-box;
}
.Services .propositions-1 .content{
    padding: 5rem 20vw 5rem 5rem;
    
}
.Services .propositions-2 .content{
    padding: 5rem 5rem 5rem 20vw; 
}
.Services .propositions h3{
    font-size: 1.75rem;
    color: var(--dark-gray-color);
}
.Services .propositions p{
    line-height: 1.5rem;
    color: var(--light-gray-color);
}
.Services .testimonials{
    padding: 5rem 20vw;
}
.Services .testimonials h3{
    color: var(--dark-gray-color);
    text-align: center;
    font-size: 1.75rem;
}
.Services .testimonials p{
    color: var(--light-gray-color);
    text-align: center;
}
.Services .testimonial-list-container{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    overflow-x: scroll;
    padding: 3rem 0; 

}
.Services .testimonial-item{
    width: 25%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}
.Services .testimonial-item img{
    width: 6rem;
    border-radius: 50%;
}
.Services .testimonial-item p{
    line-height: 1.5rem;
    color: var(--light-gray-color);
}
.Services .testimonial-item h4{
    color: var(--dark-gray-color);
}
.Call_Me{
    padding: 5rem 20vw;
    background-color: var(--green-background-color);
    display: flex;
    flex-direction: row;
}
.Call_Me .content, .Call_Me .form {
    width: 45%;
    flex-grow: 0;
    flex-shrink: 0;
    color: var(--white);
}
.Call_Me .content h3{
    font-size: 1.75rem;
    
}
.Call_Me .content p {
    line-height: 1.5rem;
    color: var(--light-gray-border-color);
}
.Call_Me .content ul{
    padding: 0;
    list-style-type: none; 
}
.Call_Me .content ul li::before{
    content: '\25a0';
    color: var(--light-green-color);
    margin-right: 5px;
    font-size: 1.25rem;
}
.Call_Me form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.Call_Me form .terms-container label{
    color: var(--light-gray-border-color);
}
.Call_Me form input, .Call_Me select {
    background-color: var(--form-input-background-color);
    color: var(--dark-white-color); 
    border: 1px solid var(--form-input-border-color);
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
}
